<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>Biblioteca</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid col">
                    <div class="container col-5">
                        <a class="navbar-brand" href="#">
                            <img src="../assets/brand/Steam_gray-brown_logo_with_text.svg" alt="Steam">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse col-3" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Loja</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Comunidade</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Sobre</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Suporte</a>
                              </li>
                              <li class="nav-item">
                                <button type="button" class="btn position-relative">
                                  Carrinho
                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    2
                                  </span>
                                </button>
                              </li>
                          </ul>
                          <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                        </form>
                      </div>                  
                </div>
            </nav>
        </header>
        <main class="row">
            <div class="row">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Biblioteca</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Loja</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Comunidade</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">Perfil</a>
                        </li>
                      </ul>
                </div>
            </div>
            <section class="col-3">
                <div>
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 380px;">
                        <div class="ps-3">
                            <span class="fs-5 fw-semibold">Jogos</span>
                        </div>
                        <div class="list-group list-group-flush border-bottom scrollarea">
                            <!--Start - Esse mano vai repetir-->
                          <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">Nome do jogo</strong>
                              <small>Wed</small>
                            </div>
                            <div class="col-10 mb-1 small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur atque aspernatur ipsam provident maxime necessitatibus.</div>
                          </a>
                            <!--End - Esse mano vai repetir-->
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Tues</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Mon</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                    
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Wed</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Tues</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Mon</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Wed</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Tues</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Mon</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Wed</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Tues</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                              <strong class="mb-1">List group item heading</strong>
                              <small class="text-muted">Mon</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                          </a>
                        </div>
                      </div>
                </div>
            </section>
            <section class="col-9">
                <div class="container col-xxl-8 px-4 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                      <div class="col-10 col-sm-8 col-lg-6">
                        <img src="../assets/images/portal.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                      </div>
                      <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Nome do jogo</h1>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eos! Sit quisquam velit, cum alias ea ratione voluptatibus placeat, veritatis quos quas ipsam deleniti sunt repudiandae! Ducimus doloribus odit quos.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Jogar</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </section>
        </main>
        <footer class="bg-dark text-center text-white mt-4">
            <div class="container p-4">
              <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
              </section>
          
              <section class="mb-4">
                <p>
                  Bem-vindo à Steam, a principal plataforma de distribuição digital de jogos e software, onde milhões
                  de jogadores se reúnem para jogar, criar e compartilhar experiências de jogos. Com milhares de jogos
                  disponíveis,
                  de indies a AAA, sempre há algo novo para jogar.
                </p>
              </section>
              <section class="">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>
          
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#!" class="text-white">Suporte</a>
                      </li>
                      <li>
                        <a href="#!" class="text-white">SAC</a>
                      </li>
                      <li>
                        <a href="#!" class="text-white">FAQ</a>
                      </li>
                      <li>
                        <a href="#!" class="text-white">Feedback</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>
          
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#!" class="text-white">Quem somos</a>
                      </li>
                      <li>
                        <a href="#!" class="text-white">Investidores</a>
                      </li>
                      <li>
                        <a href="#!" class="text-white">Notícias</a>
                      </li>
                      <li>
                        <a href="#!" class="text-white">Promoções</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">SteamPOO</a>
            </div>
          </footer>
          <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
